
.icon-smile:before { content: '\f118'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-hand-spock-o:before { content: '\f259'; } /* '' */
.icon-hand-peace-o:before { content: '\f25b'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */